<section class="glassy card_new">
    <form>
        <div class="card_header">
            <input class="form-input" type="text" id="new_blog_title" placeholder="NET BLOG TITLE" />
        </div>
        <div>
            <textarea class="glassy_textblock"  type="textarea" id="new_blog_content" placeholder="NEW BLOG CONTENT"></textarea>
        </div>
        <button id="submit_new_blog" class="join_button" type="submit">Submit</button>
    </form>
        
</section>