<section class="card glassy">
        <div class="card_header">
            <h3>{{title}}</h3>
            <p>posted by {{user.username}} on {{createdat}}</p>
        </div>
        <div class="card_body">
            {{ text }}
        </div>

</section>