<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TECH BLOG</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header class="nav_bar">
        <h1>Tech Blog</h1>
        <nav>
            <ul>
                <a><li>Home</li></a>
                <a><li>Dashboard</li></a>
                <a><li>Login</li></a>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>