<section class="two_section">
    <div class="ts_text">
        <h2>tech.blog</h2>
        <p>Create a new blog post today</p>
        <a class="nav_button" href=""><button>GET STARTED</button></a>
    </div>
    <div class="component ts_feed">
        <h2>Top Posts</h2>
        <div class="trending">1</div>
        <div class="trending">2</div>
        <div class="trending">3</div>
    </div>
</section>

