
* {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
    color: var(--font-color);
}

:root {
    --nav-color: transparent;
    --background: transparent;
    --scale: ease all .2s;
    --font-color: rgb(105, 66, 29);
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 600;
}

h3 {
    font-size: 40px;
    font-weight: 500;
}

h4 {
    font-size: 30px;
    font-weight: 400;
}

body {
    background-image: url('../images/dunes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200vh;
}

.form {
    display: gird;
    grid-template-columns: 1fr 3fr;
}



.nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    transition: var(--scale);

}

.logo-box {
    margin: 10px;
    background-color: var(--nav-color);
    transition: var(--scale);
}

.logo-box h1 {
    padding: 5px;
    white-space: nowrap;
    transition: var(--scale);
}


.nav_bar nav {
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav_button {
    display: flex;
    list-style: none;
    padding: 0 10px;
    text-decoration: none;
    background-color: transparent;
    transition: var(--scale);
}

.nav_button:hover {
    transform: translate(-.1rem, -.1rem);
    opacity: 80%;
    text-shadow: 1px 1px 1px rgba(81, 81, 81, 0.084);
    transition: var(--scale);
}

.nav_button:active {
    transform: translate(-.1rem, -.1rem);
    opacity: 100%;
    transition: var(--scale);
}

.join_button {
    padding: 10px 20px;
    background-color: rgb(255, 247, 238);
    border: none;
    font-weight: 700;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.component {
    width: 75%;
    background-color: rgb(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
}

.glassy {
    background-color: rgb(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    padding: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    width: 80%;
    max-width: 1000px;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card_header {
    display: flex;
    align-items: center;
}

.card_header p {
    margin-left: auto;
}

.card_body {
    backdrop-filter: blur(50px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two_section {
    width: 100%;
    max-width: 1980px;
    font-size: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ts_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    margin-left: 100px;
    width: 80%;
}

.ts_text button {
    padding: 10px 20px;
    background-color: rgb(255, 247, 238);
    border: none;
    margin-top: 10px;
    margin-left: 50%;
    font-weight: 700;
    width: 200px;
    white-space: nowrap;
}

.ts_feed {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    border: none;
}

.trending {
    background-color: azure;
    width: 100%;
    margin-top: 10px;
}

.blog_feed {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 100px;
}


@media screen and (min-width: 1980px){
    body {
        background-size: 100%;
    }
}


@media screen and (max-width: 750px) {
    .nav_bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_bar a {
        margin-bottom: 10px;
    }

    .two_section {
        flex-direction: column;
    }

    .ts_text {
        margin-left: 50px;
    }

    .ts_feed {
        margin-right: 0;
    }
}