
* {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
    color: var(--font-color);
}

:root {
    --nav-color: transparent;
    --background: transparent;
    --scale: ease all .2s;
    --font-color: rgb(105, 66, 29);
}

h1 {
    font-weight: 700;
}

body {
    background-image: url('../images/dunes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200vh;
}

.nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    transition: var(--scale);

}

.logo-box {
    margin: 10px;
    background-color: var(--nav-color);
    transition: var(--scale);
}

.logo-box h1 {
    padding: 5px;
    white-space: nowrap;
    transition: var(--scale);
}


.nav_bar nav {
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav_bar nav a {
    display: flex;
    list-style: none;
    padding: 0 10px;
    text-decoration: none;
    background-color: transparent;
    transition: var(--scale);
}

.join_button {
    padding: 10px 20px;
    background-color: rgb(255, 247, 238);
    border: none;
    font-weight: 700;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.component {
    width: 75%;
    background-color: rgb(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
}

@media screen and (max-width: 480px) {
    .nav_bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_bar a {
        margin-bottom: 10px;
    }
}